<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="train_mode" default="false"/>
  <arg name="model" default="burger"/>
  <!--<arg name="cmd_vel_topic" default="/cmd_vel" />-->
  <arg name="cmd_vel_topic" default="/cmd_vel_pub" />
  <arg name="odom_topic" default="odom" />
  <arg name="speed" default="0.22"/>

  <arg name="agent_name" default="jackal"/>

  <group if="$(eval arg('train_mode') == false)">
    <!-- run_agent -->
    <!-- <node name="DRL_local_planner" pkg="arena_local_planner_drl" type="drl_agent_real_node.py" args="$(arg agent_name)" output="screen"/> -->
    <node name="record_local_planner" pkg="arena_local_planner_drl" type="record_agent_node.py" args="$(arg agent_name) /move_base/TebLocalPlannerROS/global_plan" output="log"/>

    <!-- action_publisher -->
    <!-- makes sure that drl actions will be published according to sim time in eval mode -->
    <node name="action_publisher" pkg="arena_local_planner_drl" type="action_publisher.py"/>
  </group>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find conventional)/config/$(arg model)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find conventional)/config/$(arg model)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find conventional)/config/$(arg model)/teb_local_planner_params.yaml" command="load" />


    <!-- planner params -->
    <rosparam file="$(find conventional)/config/$(arg model)/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg  odom_topic)"/>


    <!-- teb -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="TebLocalPlannerROS/max_vel_x" value="$(arg speed)" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <param name="planner_frequency" value="1.0" />
  </node>
</launch>
